.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 70vh;
    align-items: center;
    width: 100%;
}

.proposalContainer {
    display: flex;
    max-height: 40%;
    width: 90%;
    border-left: 0.7vh solid #025E73;
    margin-bottom: 4vh;
    gap: 3vw;
    padding-left: 3vh;
}

.proposalText{
    display: flex;
    flex-direction: column;
}

.imgProposal{
    width: 100%;
    margin-left: 5vh;
}

.missionContainer {
    display: flex;
    max-height: 40%;
    width: 90%;
    border-right: 0.7vh solid #025E73;
    gap: 3vw;
    padding-right: 3vh;
}

.missionText{
    display: flex;
    flex-direction: column;
    }

.imgMission{
    width: 100%;
    margin-right: 5vh;
}

.proposalText, .missionText {
    font-size: larger;
}

@media screen and (max-width: 1000px) {
    .proposalText, .missionText {
        font-size: medium;
    }
}
@media screen and (max-width: 750px) {
    .proposalContainer {
        flex-direction: column-reverse;
        border-left: none;
        border-bottom: 1vh solid #025E73;
    }

    .imgProposal {
        width: 100%;
        max-height: 30vh;
        margin: 0;
    }

    .missionContainer {
        flex-direction: column;
        border-right: none;
        border-bottom: 1vh solid #025E73;

    }

    .imgMission {
        margin: 0;
        width: 100%;
        max-height: 30vh;
    }
}