.mainContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.teamContainer {
    width: 90%;
    display: flex;
    flex-direction: column;
}
h2, h3 {
    margin: 0;
}

.imagesContainer {
    display: flex;
    width: 100%;
}
.profilesRow1 {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-evenly;
}

.profilesRow2 {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-evenly;
}

.profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1300px) {
    .profilesRow1 {
        flex-direction: column;
        align-items: center;
    }

    .profilesRow2 {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    .imagesContainer {
        flex-direction: column;
        align-items: center;
    }
}