.header {
    top: 0;
    left: 0;
    height: 8vh;
    width: 100vm;
    z-index: 999;
    display: flex;
    max-height: 8vh;
    min-height: 6vh;
    padding: 0.6rem;
    align-items: center;
    background-color: #00111C;
    justify-content: space-between;
    position: sticky;
    padding-left: 5%;
    padding-right: 5%;
  }
  
  .logo-inicio,
  .logo-fim {
    outline: none;
    display: flex;
    margin: 0 11rem;
    max-height: 80%;
    align-items: center;
  }
  
  .logo-inicio {
    cursor: pointer;
  }
  
  .headerDropdown {
    height: 100%;
    display: none;
  }

  a {
    text-decoration: none;
    color: white;
  }
  
  ul {
    list-style: none;
    width: 30%;
    display: flex;
    justify-content: space-around;
  }
  
  @media screen and (max-width: 1000px) {
    ul {
      width: 40%;
    }
  }
  
  @media screen and (max-width: 750px) {
    ul {
      width: 50%;
    }
  }
  
  @media screen and (max-width: 650px) {
    .headerElements {
      display: none;
    }

    .headerDropdown {
      display: flex;
    }
  }