.navbar {
    top: 0;
    left: 0;
    height: 8vh;
    width: 100vw;
    z-index: 999;
    display: flex;
    max-height: 8vh;
    min-height: 6vh;
    padding: 0.6rem;
    align-items: center;
    background-color: #00111C;
    justify-content: space-between;
}

.logo-inicio,
.logo-fim {
    outline: none;
    display: flex;
    margin: 0 11rem;
    max-height: 80%;
    align-items: center;
}

.logo-inicio {
    cursor: pointer;
}

.active {
    background-color: #E3073C !important;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
    width: 30%;
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 1000px) {
    ul {
        width: 40%;
    }
}

@media screen and (max-width: 750px) {
    ul {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    ul {
        width: 60%;
    }
}

@media screen and (max-width: 450px) {
    ul {
        display: none;
    }
}